<div class="about">
  <div class="card">
    <div class="card__image">
      <div class="avatar"></div>
    </div>
    <div class="card__title"></div>
    <div class="card__text">
      <p>
        Hi, I'm Dolf.
      </p>
      <p>
        Software engineer with passion in web and, especially, in frontend development. I like to be on the edge of business problem
        solving and appeal for users, and believe that soft skills and clean code matter.
      </p>
      <p>
        Currently in
        <a href="https://www.google.com/maps/place/Tomsk,+Tomsk+Oblast/@56.4894541,84.8685494,11z/data=!3m1!4b1!4m5!3m4!1s0x432693b2b65d4c1b:0xcf0bf11d988ae72f!8m2!3d56.5010397!4d84.9924506?hl=en">
          Tomsk
        </a> @
        <a href="https://minddoodle.com/">Mind Doodle</a> &
        <a href="http://quantumsoft.ru/">Quantum Soft Ltd</a>
      </p>
      <div>
        Highly interested in functional programming and cutting-edge javascript.
      </div>
    </div>
  </div>
</div>