<footer>
  <section class="container footer__links">
    <a href="mailto:{{site.email}}" class="foooter__links-link">
       <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/{{site.twitter_username}}" class="foooter__links-link">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/{{site.github_username}}" class="foooter__links-link">
       <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" class="foooter__links-link">
       <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a href="https://stackoverflow.com/u/{{site.stackoverflow_username}}" class="foooter__links-link">
       <i class="fa fa-stack-overflow" aria-hidden="true"></i>
    </a>
    <a href="https://t.me/{{site.telegram_username}}" class="foooter__links-link">
       <i class="fa fa-telegram" aria-hidden="true"></i>
    </a>
  </section>
</footer>