.about {
  .column-avatar {
    text-align: center;
    .avatar {
      border-radius: 50%;
      width: 15rem;
      height: 15rem;
      background: url('/assets/avatar.jpg') no-repeat center right;
      background-size: cover;
      display: inline-block;
    }
  }
}