@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Titillium+Web:700,900&subset=cyrillic');
@import "variables.scss";

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #494949;
  background: #fafdff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}
a {
  color: $color-primary;
  &:visited {
    color: $color-complement;
  }
  &:hover {
    color: $color-primary-dark;
  }
}