@import "variables.scss";

.home {
  text-align: center;
  padding: 1.5rem .25rem;
  .logo {
    font-family: 'Satisfy', cursive;
    color: $color-primary;
    font-size: 5rem;
    font-weight: 900;
  }
  hr {
    margin-top: 0;    
  }
}