.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .avatar {
        width: 100%;
        height: 100%;
        background: url('/assets/avatar.jpg') no-repeat center right;
        background-size: cover;
    }
}