.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .avatar {
        width: 15rem;
        margin: .5rem;
        height: 15rem;
        display: inline-block;
        background: url('/assets/avatar.jpg') no-repeat center right;
        background-size: cover;
        border-radius: 50%;
    }
    .card {
        width: 50rem;
        .card__text {}
    }
}