.card {
    width: 50rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    border-radius: 0 2rem 2rem;
    background: white;
    .card__image {
        width: calc(100% + 2px);
        height: 30rem;
        margin: -1px;
    }
    .card__title {}
    .card__text {
        padding: 2.5rem;
    }
}