/* Main Primary color */

$color-primary :#2799F1;
$color-primary-light :#7CC0F5;
$color-primary-lighter :#50ACF3;
$color-primary-darker :#0B8AEC;
$color-primary-dark :#046AB8;
$color-complement :#FF9D1A;

/* Main Complement color */

$color-complement-light :#FFC578;
$color-complement-lighter :#FFB048;
$color-complement-darker :#FF9200;
$color-complement-dark :#FF9200;